# Dépendances
node_modules
.pnpm-store/
.pnp
.pnp.js

# Production
dist
dist-ssr
build

# Fichiers de cache
*.local
.cache
.temp
.eslintcache

# Environnement
.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Éditeur
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
*.pem

# Tests
coverage
*.lcov

# TypeScript
*.tsbuildinfo

# Vite
vite.config.ts.timestamp-*


# Ignorer tous les fichiers .env*
.env*

# MAIS garder .env.example
!.env.example